<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Trade.ClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="Trade.ClientApp.Properties.Settings.tradeConnectionString"
        connectionString="Data Source=at;Initial Catalog=trade;Persist Security Info=True;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <Trade.ClientApp.Properties.Settings>
            <setting name="Trade_ClientApp_ClientService_ClientSrv" serializeAs="String">
                <value>http://s-88953.abc188.com/clientSrv.asmx</value>
            </setting>
        </Trade.ClientApp.Properties.Settings>
    </applicationSettings>
</configuration>
